<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Browse Movies</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<header class="bg-blue-600 text-white shadow-md">
    <div class="container mx-auto p-4 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold">TORSYNC</a>
        <nav class="space-x-4">
            <a href="/" class="hover:text-blue-300 transition">Home</a>
            <a href="/movies" class="hover:text-blue-300 transition">All Movies</a>
            <a href="/browse/page/2" class="hover:text-blue-300 transition">Downloadable Movies</a>
            <a href="/search-tmdb" class="hover:text-blue-300 transition">Search TMDB</a>
        </nav>
    </div>
</header>
<div class="container mx-auto p-4">

    <h1 class="text-3xl font-bold text-center mb-6">Browse Movies</h1>

    <div th:if="${error}" class="text-center text-red-500 font-semibold">
        <p th:text="${error}">Error message goes here.</p>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        <div th:each="movie : ${movies}" class="movie-card">
            <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                <img th:src="${movie['image']}" alt="Movie Poster" class="w-full h-auto">
                <div class="p-4">
                    <h2 th:text="${movie['title']}" class="text-xl font-semibold text-gray-800 mb-2"></h2>
                    <p th:text="'Year: ' + ${movie['year']}" class="text-md text-gray-500"></p>

                    <a th:href="@{'/movie-details/' + ${movie['title'].toLowerCase().replaceAll('\\[.*?\\]', '').replaceAll(' ', '-').replaceAll('\\.', '')} + '-' + ${movie['year']}}"
                       class="block text-center mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                        View Details
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
