<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Page</title>

    <link href="/css/output.css" rel="stylesheet">

    <style>
        body {

            background-color: #1e3a8a;
        }
    </style>
</head>
<body class="bg-blue-800 min-h-screen flex flex-col items-center justify-center text-blue-100">

<header class="bg-blue-700 py-6 px-4 rounded-lg shadow-lg text-center">
    <h1 class="text-4xl font-extrabold tracking-tight mb-2 text-blue-50">Welcome to TorSync</h1>
    <h2 class="text-xl font-medium italic text-blue-200">Your place for movies</h2>
    <nav class="mt-4">
        <ul class="flex space-x-6 text-blue-200 font-semibold">
            <li><a href="#" class="hover:text-blue-300">Home</a></li>
            <li><a href="#" class="hover:text-blue-300">Browse</a></li>
            <li><a href="#" class="hover:text-blue-300">Library</a></li>
        </ul>
    </nav>
</header>

<main class="mt-10 px-6 text-center">

    <section class="mt-6 bg-blue-600 p-6 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold mb-2 text-blue-50">Download Movies</h3>
        <p class="text-blue-200">
          torrenting
        <form action="/search" method="get" class="flex justify-center mb-8">
            <input type="text" name="query" placeholder="Enter movie title" th:value="${query}"
                   class="border border-gray-300 rounded-l px-4 py-2 focus:outline-none focus:ring focus:ring-blue-400 w-1/2" />
            <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded-r hover:bg-blue-600">Search</button>
        </form>
        </p>
    </section>
    <section class="mt-6 bg-blue-600 p-6 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold mb-2 text-blue-50">library</h3>
        <p class="text-blue-200">
            track ur media consumption
        </p>
    </section>
</main>

<footer class="mt-10 text-center text-blue-300 text-sm">
    <p>&copy; 2024 TorSync. All rights reserved.</p>
</footer>

</body>
</html>
